
   <head>
    <!-- JavaScript Section -->
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<<<<<<< HEAD
    <script src="Scripts/lib/javascript/assessment.js"></script>
=======
>>>>>>> ff21cfd4f4798dbdc911213e6d09c6b8ae95ec89
    <style>
    h5{
    color:#696969;
    }
    </style>
    </head>
   <h5 class="text-center"><b>&copy;Copyright Express Entry System</b></h5>
  