

<html>
<title></title>
<head> <link rel="stylesheet" type="text/css" href="/css/carousel.css">
</head>

<nav>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/homepage">Homepage</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Us</a></li>
                    <% if ( userFullName ) { %>
                        <li><a href="/signout"> Sign out </a></li>
                       <li><a href="<% if(role === 'lawyer') { %><%="/law_homepage"%>
                                        <% } else {%> <%="/cli_homepage"%> <%}%>"> <b>Hello, <%=userFullName%></b></a></li>
                    <% } else { %>
                       <li><a href="/signup">Signup </a> </li>  
                       <li><a href="/signin"> Signin </a></li>
                    <% } %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
</html>