<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <link href="/css/law_homepage.css" rel="stylesheet">
</head>

<body>
 <% include ../partials/navbar.ejs %>

    <div class="container-fluid">
      <div class="row">
        <% include clientSideBar.ejs %>
         
         <!-- MAIN CONTENT (client homepage)-->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><%= title %></h1>
          <p>
          <br>
          <p> <b>Welcome <%=userFullName%> to your dashboard, You can make a payment here.</b></p>
          <br>
          <br>
          <br>
           <br>
          <br>
          <br>
          <br>
          <br>
          </p>
 
        </div>
        <!-- END MAIN CONTENT-->

      </div>
    </div>
<% include ../partials/footer.ejs %>
