<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="/payment">Make a Payment</a></li>
    <li><a href="/workplan">See Work Plan</a></li>
    <li><a href="/assessment">Self-Assessment Form</a></li>
  </ul>
  
</div>