<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="/law_homepage">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Create Applicant</a></li>
    <li><a href="/paymentdetails">View Payment Details</a></li>
<<<<<<< HEAD
    <li><a href="/assessmentdetails">View Self Assessment Results</a></li>
  </ul>
 
=======
    <li><a href="#">Export</a></li>
  </ul>
  
>>>>>>> ff21cfd4f4798dbdc911213e6d09c6b8ae95ec89
</div>