<!DOCTYPE html>
<html>

<head>
    <% include partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/about.css">
</head>

<body>
    <% include partials/navbar.ejs %>

        <br>

                    <!-- MAIN CONTENT -->
                    <main class="container">

                        <div class="jumbotron">
                            <h2><b> About Us</b></h2>
                            <hr class="featurette-divider">
                              <div class="row featurette">
                             
                        
                            <p class="lead">
                        This system is mainly developed to help the immigrants to know their self assessment and our main motive is to help people by giving them
                            right path.Applicants can apply for thier application through us.Moreover, they can do the self assessment and can know about their work plan.
                            Our law firm is focused on getting clients to Canada in the shortest possible time through a variety of avenues, including finding work in Canada.
                            You can go through this website as a guest as well as you can sign in or register to our system.</p>
                            
                           </div>     
                          



                    </main>
                    <% include partials/footer.ejs %>