<!DOCTYPE html>
<html>

<head>
    <% include partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/about.css">
</head>

<body>
    <% include partials/navbar.ejs %>

        <br>

                    <!-- MAIN CONTENT -->
                    <main class="container">

                        <div class="jumbotron">
                            <h2><b> What are the options for Canadian Immigration?</b></h2>
                            <hr class="featurette-divider">
                            <!-- <br> -->
                            <p class="lead">

                            </p>

                            <div class="row featurette">
                            
                            
                            
 <p> The Canadian federal and provincial governments are constantly updating their programs to ensure that Canadian immigration
 is successful, both for newcomers and for Canada. There are currently more than 60 programs available for immigration
  to Canada. For that reason, everyone's path to Canadian immigration will be unique.
  <br>
  For example, there are many different categories for professionals and workers under which you might qualify for your
   Canada Immigration permanent resident visa, including the Federal and Quebec Skilled Worker programs, the Provincial 
   Nominee Programs, the Canadian Experience Class, the Quebec Experience Class, and the Federal Self-Employed program. 
   Canada also offers a number of Family Class Sponsorship programs, whereby Canadian citizens and permanent residents 
   may sponsor family members and loved ones for Canadian immigration.</p>
                            
                           </div>     
                          



                    </main>
                    <% include partials/footer.ejs %>