<!DOCTYPE html>
<html>

<head>
    <% include partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/services.css">
    <style>
    h1{
color:darkgray;
}
</style>
</head>

<body>
    <% include partials/navbar.ejs %>
    


    <!-- MAIN CONTENT -->
    <main class="container">
        <h1><b>Services</b></h1>
        
        <div class="jumbotron">
            <h2><b>Immigrate</b></h2>
            <p class="lead">The Canadian federal and provincial governments are constantly updating their programs to ensure that Canadian immigration
 is successful, both for newcomers and for Canada. There are currently more than 60 programs available for immigration
  to Canada. For that reason, everyone's path to Canadian immigration will be unique.
  <br>
  For example, there are many different categories for professionals and workers under which you might qualify for your
   Canada Immigration permanent resident visa, including the Federal and Quebec Skilled Worker programs, the Provincial 
   Nominee Programs, the Canadian Experience Class, the Quebec Experience Class, and the Federal Self-Employed program. 
   Canada also offers a number of Family Class Sponsorship programs, whereby Canadian citizens and permanent residents 
   may sponsor family members and loved ones for Canadian immigration.</p>
                            

        </div>
        
        
        
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
      
        
        <div class="jumbotron">
            <h2><b>Study</b></h2>
            <p class="lead"> The number of international students studying in Canada is over 300,000, a figure that is constantly growing.
Many of these students are choosing Canada over other developed countries because of certain advantages that studying
in Canada can bring.Individuals who study in Canada receive a top-quality and internationally-respected education,
 preparing them for professional pursuits in Canada or abroad. Yet, the cost of tuition and living fees in Canada are
 generally lower than in other developed countries.
     <br>
 There are a few ways to come to Canada as a student. For example, you can study in Canada under a Canada Study Permit. 
 It is also possible in some cases to study in Canada without a study permit. While you are here studying, it is also
 possible to work while studying in Canada. However, the first step is to find a Canadian school that you would like to
  attend and a study program that matches your goals and ambitions. Our partners at SchoolMatch can assist you. Once you
 have learned more, you can then fill out a free online assessment form to learn more about obtaining a study permit for
  Canada.

</p>

        </div>
        </div>
      
       <hr class="featurette-divider">

      <div class="row featurette">
      
        
        <div class="jumbotron">
            <h2><b>Work</b></h2>
            <p class="lead"> Canada is actively seeking foreign workers and professionals to help grow its strong national workforce. Whether you
  are looking for permanent or temporary work in Canada, or even if you are a Canadian employer seeking to bring in skilled 
  professionals from abroad, below you will find some valuable online resources to help accomplish your goals.
<br>
In most cases, in order to work in Canada, the foreign worker will need a work permit. However, there are a number of 
circumstances where you may be able to work in Canada without a work permit. In addition, there are number of other ways 
to work in Canada without undergoing the traditional work permit application process, including work permits granted for
 working holidays, post-graduate work permits or permits issued under NAFTA.

        </div>
        </div>
      </div>

    
    </main>

    <% include partials/footer.ejs %>
