<!DOCTYPE html>
<html>

<head>
    <% include partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
   
</head>

<body>
    <% include partials/navbar.ejs %>




            
            
                    <!-- MAIN CONTENT -->

        <main class="container">
            <div class="jumbotron">
                <h2><b> Sign Up Here</b></h2>
                
    <% for(var i in messages) { %>
        <div class="flash">
            <%= messages[i] %>
        </div>
        <% } %>
            <form action="/signup" method="post">
                <div class="form-group">
                    <label>Enter First Name:</label>
                    <input type="text" class="form-control"  name="firstName" />
                </div>
                <div class="form-group">
                    <label>Enter Last Name:</label>
                    <input type="text" class="form-control" name="lastName" />
                </div>
                <div class="form-group">
                    <label>Enter Email Address:</label>
                    <input type="text" class="form-control"  name="email" placeholder="abc@example.com" />
                </div>
                <div class="form-group">
                    <label>Enter Username:</label>
                    <input type="text" class="form-control" name="username" />
                </div>
                <div class="form-group">
                    <label>Enter Password:</label>
                    <input type="password" class="form-control" name="password" />
                </div>
                <div>
                    <input type="hidden" name="role" value="client">
                    <input type="submit" class="btn btn-default" value="Sign up" />
                     <button type="reset" class="btn btn-default"><a href="/homepage">Reset</a></button>
                </div>
            </form>
            </div>
        </main>
            
            
<% include partials/footer.ejs %>