<!DOCTYPE html>
<html>

<head>
    <% include partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/about.css">
</head>

<body>
    <% include partials/navbar.ejs %>

        <br>

                    <!-- MAIN CONTENT -->
                    <main class="container">

                        <div class="jumbotron">
                            <h2><b>Canada is home to some of the best schools in the world. </b></h2>
                            <hr class="featurette-divider">
                            <!-- <br> -->
                            <p class="lead">

                            </p>

                            <div class="row featurette">
                            
                            
                            
 <p> The number of international students studying in Canada is over 300,000, a figure that is constantly growing.
Many of these students are choosing Canada over other developed countries because of certain advantages that studying
in Canada can bring.Individuals who study in Canada receive a top-quality and internationally-respected education,
 preparing them for professional pursuits in Canada or abroad. Yet, the cost of tuition and living fees in Canada are
 generally lower than in other developed countries.
     <br>
 There are a few ways to come to Canada as a student. For example, you can study in Canada under a Canada Study Permit. 
 It is also possible in some cases to study in Canada without a study permit. While you are here studying, it is also
 possible to work while studying in Canada. However, the first step is to find a Canadian school that you would like to
  attend and a study program that matches your goals and ambitions. Our partners at SchoolMatch can assist you. Once you
 have learned more, you can then fill out a free online assessment form to learn more about obtaining a study permit for
  Canada.

</p>
                            
                           </div>     
                          



                    </main>
                    <% include partials/footer.ejs %>