<!DOCTYPE html>
<html>

<head>
    <% include partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/about.css">
</head>

<body>
    <% include partials/navbar.ejs %>

        <br>

                    <!-- MAIN CONTENT -->
                    <main class="container">

                        <div class="jumbotron">
                            <h2><b>Which Canadian work solutions will meet your needs?</b></h2>
                            <hr class="featurette-divider">
                            <!-- <br> -->
                            <p class="lead">

                            </p>

                            <div class="row featurette">
                            
                            
                            
 <p> Canada is actively seeking foreign workers and professionals to help grow its strong national workforce. Whether you
  are looking for permanent or temporary work in Canada, or even if you are a Canadian employer seeking to bring in skilled 
  professionals from abroad, below you will find some valuable online resources to help accomplish your goals.
<br>
In most cases, in order to work in Canada, the foreign worker will need a work permit. However, there are a number of 
circumstances where you may be able to work in Canada without a work permit. In addition, there are number of other ways 
to work in Canada without undergoing the traditional work permit application process, including work permits granted for
 working holidays, post-graduate work permits or permits issued under NAFTA.

</p>
                            
                           </div>     
                          



                    </main>
                    <% include partials/footer.ejs %>